<h1> Sign Up! </h1>
<%= @error_message %>
<%= form_with({model: @user}) do |form|%>


<label> Name </label>
<%=form.text_field(:name)%>
<br>

<label> Address </label>
<%=form.text_field(:address)%>
<br>


<label> UserName </label>
<%=form.text_field(:username)%>
<br>


<label>  Password  </label>
<%=form.text_field(:password)%>
<br>

<%= form.submit("Create Account")%>





<%end%>
